<% @posts.each do |post| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <%= link_to user_path(post.user), class: "no-text-decoration" do %>
            <%= image_pack_tag avatar_url(post.user), class: "post-profile-icon" %>
          <% end %>
          <%= link_to user_path(post.user), class: "black-color no-text-decoration", title: post.user.name do %>
            <strong><%= post.user.name %></strong>
          <% end %>
          <div class="card-header-margin">
            <%= post.artist.name %>
          </div>
          <div class="card-header-colon-margin"><p>:</p></div>
          <div class="card-header-margin">
            <%= link_to post.title, post_path(post) %>
          </div>

          <% if post.user_id == current_user.id %>
            <%= link_to post_path(post), method: :delete, class: "ml-auto mx-2 my-auto" do %>
              <div class="delete-post-icon">
              </div>
            <% end %>
          <% end %>
        </div>

        <% if post.photos.exists? %>
          <%= link_to(post_path(post)) do %>
            <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
          <% end %>
        <% end %>

        <div class="card-body">
          <div class="row parts">
            <div class="row">
              <% post.post_songs.each do |post_song| %>
                <div class="row">
                  <p class="card-body-song-info col">M <%= post_song.song_order %> : <%= post_song.song.name %></p>
                  <!-- アルバム名非表示
                  <p class="card-body-song-info col">from : <%= post_song.song.album.name %></p> -->
                </div>
              <% end %>
            </div>

            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post), class: "light-color post-time no-text-decoration" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
