<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        <h3 class="pt-1">セットリスト作成画面</h3>
      </div>
      <div class="card-body">
        <%= form_with model: @post, class: "upload-images p-0 border-0" do |f| %>
          <div class="row mt-2">
            <%= f.label :artist_id, "アーティスト名：", class: "col-md-3" %>
            <%= f.select :artist_id, @artists.map{ |artist| [artist.name, artist.id] }, { include_blank: true }, { class: "border col-md-7" } %>
          </div>
          <div class="form-group row mt-2">
            <%= f.label :title, "LIVEタイトル：", class: "col-md-3" %>
            <%= f.text_field :title, class: "border col-md-7" %>
          </div>
          <% for m_number in 1..20 %>
          <% m_label = "M #{m_number} :" %>
          <div class="form-group row mt-2">
          <%# 改修中　%>
            <%= f.fields_for :post_songs do |post_song| %>
              <%= post_song.label :post_songs, m_label, class: "col-md-2" %>
              <% album_options = Album.order(:id).map { |a| [a.name, a.id, data: { children_path: album_songs_path(a) }] } %>
              <%= post_song.select :album_id, album_options, { include_blank: true }, { class: "border col-md-5 select-parent" } %>
              <% songs = @albums.try(:songs) || [] %>
              <% songs_options = songs.map { |s| [s.name, s.id] } %>
              <%= post_song.select :song_id, songs_options, { include_blank: true }, { class: "border col-md-5 select-children" } %>
              <%= post_song.hidden_field :song_order, value: m_number %>
            <% end %>
          </div>
          <% end %>
          <div class="mt-3 mb-4">
            <%= f.fields_for :photos do |i| %>
              <%= i.file_field :image %>
            <% end %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
